# Servers and Ports
PORT=
API_URL=

# discord
APP_ID= # Discord app ID
DISCORD_TOKEN= # Discord bot token
GUILD_ID= # Discord server ID
PUBLIC_KEY= # Discord public key

#github
GITHUB_TOKEN= # GitHub app access token
GH_APP_ID= # GitHub App ID (https://github.com/organizations/{organization}/settings/installations/) -> click "configure" on your app from the list
GH_PRIVATE_KEY_PATH=gkey.pem # From the same location as above, go to app settings and create a new private key. Then move the downloaded file over to gkey.pem
LP_GITHUB_APP_CLIENT_ID= #GitHub App Client ID (https://github.com/organizations/{organization}/settings/installations/) -> click "configure" on your app from the list
LP_REPO_ID= # GitHub repository ID
LP_ORG_NAME= # GitHub organization name
SUPABASE_URL= 
SUPABASE_ANON_KEY=


GH_CLIENT_ID= # UBC Launch Pad GitHub App client ID from Launch Pad Colony app in ubclaunchpad organization
GH_ORG_APP_ID= #Found directly in the url, https://github.com/organizations/{organization}/settings/installations/{GH_ORG_APP_ID}
GH_ORG_NAME= #Github Organization name

# OpenAI API (required by the AI chat command)
OPENAI_API_KEY=

# CORS allowed origins
ALLOWED_DEV_ORIGIN=http://localhost:3000
ALLOWED_PROD_ORIGIN=
